.forgetPassword {
  background-color: #E1DCD9;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordWrapper {
  width: 70%;
  height: 70%;
  border: 9px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}